{% extends "base.html" %} {% block content %}
<div>
  {% for post_id, post in posts.items() %}
  <div id="{{ post_id }}">
    <h2>{{ post.title[0]|upper }}{{ post.title[1:] }}</h2>
    <h3>By: {{ post.author }} on {{ post.date }}</h3>
    <a href="/posts/{{ post_id }}">View Post</a>
    <!-- <p>{{ post.html_content|safe }}</p>
    <button>Likes: {{ post.post_reactions["up"] }}</button>
    <button>Dislikes: {{ post.post_reactions["down"] }}</button>
    <div id="comments">
      <h4>Comments</h4>
      {% for comment_id, comment in post.comments.items() %}
      <div id="{{ comment_id }}">
        <p>By: {{ comment.comment_author }}: {{ comment.comment }}</p>
        <button>Likes: {{ comment.comment_reactions["up"] }}</button>
        <button>Dislikes: {{ comment.comment_reactions["down"] }}</button>
        <br /> -->
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
